# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Prvate Eclipse enviroment files
.project
.cproject
.settings/language.settings.xml

# Basicly, anything deemed to be a password file. Tried to make idiot proof.
Password.*
password.*
passwords.*
Passwords.*

# Don't need to sync the Debug versions, only the proper staged builds
Debug/TheLionBot
Release/TheLionBot
